# Python Basics Assignment Notebook
Instructions
Complete all the exercises below. Each section corresponds to the concepts covered in class. Write your code in the designated cells and test your solutions.

# Section 1: Print Statements and Basic Operations
### Exercise 1.1: Print Statement

Write a print statement that displays your name.

In [12]:
print("maha fatima")

maha fatima

### Exercise 1.2: Arithmetic Operations
Calculate and print the results of the following operations:

- Add 15 and 25
- Subtract 30 from 50
- Multiply 7 by 8
- Divide 100 by 4
- Find the integer division of 100 by 3
- Find the remainder when 100 is divided by 3
- Calculate 2 to the power of 5

In [11]:
print(15+25)
print(30 - 50)
print(7*8)
print(100/4)
print(100//3)
print(100 % 3)
print(2**5)

40
-20
56
25.0
33
1
32

Construct the following equation and calculate the value the value of y using Python
![Alt text](image.png)

In [ ]:
# Your code here

#  Section 2: Variables and Assignment Operators
### Exercise 2.1: Variable Assignment

Create variables with the following values:

- student_name = your name
- age = your age
- grade = your current grade/class

Print all three variables.

In [10]:
student_name = "maha" 
print(student_name)
age="sixteen"
print(age)
grade="11"
print(grade)

maha
sixteen
11

### Exercise 2.2: Mathematical Operations with Variables
Create two variables a = 10 and b = 5. Then:

- Calculate their sum and store in variable sum_result
- Calculate their product and store in variable product_result
- Print both results

In [19]:
a="10"
b="5"
variable_sum_result = (10+5)
variable_product_result = (10*5)
print(variable_sum_result)
print(variable_product_result)

15
50

### Exercise 2.3: Increment and Decrement Operators
Start with a variable counter = 0:

- Increment it by 3 using the += operator
- Print the result
- Decrement it by 1 using the -= operator
- Print the final result

In [22]:
x = 0
x += 3
print(x)
x -= 1
print(x)

3
2

# Section 3: Data Types
### Exercise 3.1: Identifying Data Types
Create variables of different types and check their types:

- An integer: num1 = 42
- A string: text1 = "Python Programming"
- A float: decimal1 = 3.14159
- A boolean: is_student = True

Use the type() function to check and print the type of each variable.

In [23]:
num1= 42
print(type(num1))
text1 = "python programming"
print(type(text1))
decimal1 = 3.14159
print(type(decimal1))
is_student = True
print(type(is_student))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

# Section 4: Strings and String Handling
### Exercise 4.1: String Creation
Create three string variables:

- greeting = "Hello"
- name = "Python"
- exclamation = "!"

In [24]:
greeting = "Hello"
name = "Python"
exclamation = "!"

### Exercise 4.2: String Concatenation
Using the variables from Exercise 4.1, concatenate them to create:

- "Hello Python!"
- "Python Hello!"

Print both results.

In [31]:
greeting = "Hello"
name = "Python"
exclamation = "!"
print(greeting +" "+ name+ exclamation)
print(name + " "+ greeting + exclamation)

Hello Python!
Python Hello!

### Exercise 4.3: String and Number Concatenation
Create:

- label = "Your score is: "
- score = 95

Concatenate them to print "Your score is: 95"

In [34]:
label = "Your score is: "
score = "95"
print(label+score)

Your score is: 95

# Section 5: Type Conversion
### Exercise 5.1: String to Integer
Given str_num = "25":

- Check its type
- Convert it to an integer
- Check the type of the converted value
- Print both the original and converted values

In [38]:
str_num = "25"
print(str_num)
print(type(str_num))
print(int(str_num))
print(type(int(str_num)))

25
<class 'str'>
25
<class 'int'>

### Exercise 5.2: Adding Numbers with Type Conversion
You have:

- num_a = 10
- num_b = "15"

Add these two numbers by converting num_b to an integer

In [40]:
num_a = 10
num_b = "15"
print(num_a + int(num_b))

25

# Section 6: String Indexing
### Exercise 6.1: Basic String Indexing

Given 
student_name = "Python":
- Print the character at index 2
- Print the last character using negative indexing
- Print the second-to-last character
- Print the first character using negative indexing
- Print the first and last characters together (e.g., "P,n")
- Print characters at positions 0, 5, and -1 together

In [48]:
student_name = "Python"
print(student_name[2])
print(student_name[-1])
print(student_name[1:6])
print(student_name[-6])
print(student_name[0]+ "," +student_name[5] )
print(student_name[0]+ "," +student_name[5]+ ","+ student_name[-1])

t
n
ython
P
P,n
P,n,n

# Section 7: String Slicing
### Exercise 7.1: Basic Slicing
Given text = "Hello, Python!":

- Extract "Hello"
- Extract "Python"
- Extract the last 5 characters

In [52]:
text = "Hello, Python!"
print(text[0:5])
print(text[6:13])
print(text[-5:])

Hello
 Python
thon!

### Exercise 7.2: Advanced Slicing
Using alphabet = "abcdefghijklmno":

- Extract "cde"
- Extract every second character starting from index 0
- Extract the string in reverse order
- Extract every third character

In [57]:
alphabet = "abcdefghijklmno"
print(alphabet[2:5])
print(alphabet[2:])
print(alphabet[::-1])
print(alphabet[::3])

cde
cdefghijklmno
onmlkjihgfedcba
adgjm

### Exercise 7.3: Practical Slicing
Given sentence = "Python programming is fun":

- Extract the word "Python"
- Extract the word "programming"
- Extract the last word "fun"
- Extract every other character from the entire string

In [67]:
sentence = "Python programming is fun"
print(sentence[0:6])
print(sentence[6:18])
print(sentence[-3:])
print(sentence[::2])

Python
 programming
fun
Pto rgamn sfn

# Section 8: String Methods
### Exercise 8.1: Mixed String Methods
Create a program that:

- Takes a string user_input = "  hello WORLD  "
- Removes leading and trailing spaces (use .strip())
- Converts it to title case
- Checks if the result is alphabetic
- Count the number of "o" characters
- Replace "o" with "0"

In [73]:
user_input = "  hello WORLD  "
print(user_input.strip())
print(user_input.title())
print(user_input.isalpha())
print(user_input.count("o"))
print(user_input.replace("o", "0"))

hello WORLD
  Hello World
False
1
  hell0 WORLD

# Section 9: Debugging Exercise
### Exercise 9.1: Find and Fix the Errors
The following code has several errors. Identify and fix them:

```
# Original code with errors (DO NOT RUN - FIX FIRST)
name = 'John
age = "25"
print("Hello, " + name)
print("You are " + age + " years old")
print(name[0] + name[-1)
result = int("abc")
```

Write the corrected version below:

In [82]:

name = 'John' 
age = "25"
print("Hello, " + name)
print("You are " + age + " years old")
print(name[0] + name[-1])  
result= str("abc") 
print(result)

Hello, John
You are 25 years old
Jn
abc